
body {
       background-color: WhiteSmoke;
       font-size:1.5em;
       height:100%;
	padding-left:1%;
	
       margin:0px;
       width:100%;
}


#page{
	border: 1px solid LightGrey;
	border-radius: 5px 5px 5px 5px;
	top:10px;
	min-height: calc(100vh - 20px);
	
	width:98%;
	background-color:White;
	
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	
}

#corps{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
}

.icon{
	width:98%;
	
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.icon button img{
	margin-top:5px;
	width:60px;
}

.icon button{
	background-color: White;
	border: none;
}

.texte{
	display:block;
}

#ajout_fichier{
	#background-color:yellow;
	border:1px solid Grey;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding:10px;
	
	width:75%;
}

.saisie{
	border: 1px solid Grey;
	border-radius: 5px 5px 5px 5px;
	font-size:0.5em;
	width:100%;
	height:100%;
}

.submit{
	font-size:0.5em;
	border: 1px solid Grey;
	border-radius: 5px 5px 5px 5px;
	height:30px;
	background-color: WhiteSmoke;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    cursor: pointer; 
}

img{
	width:100px;
}

span{
	font-weight:700;
}
p{
	padding-left:10px;
	padding-right:10px;
}