
body {
       background-color: WhiteSmoke;
       font-size:3em;
       height:100%;
	padding-left:1%;
	
       margin:0px;
       width:100%;
}


#page{
	border: 1px solid LightGrey;
	border-radius: 5px 5px 5px 5px;
	position:fixed;
	top:10px;
	min-height: calc(100vh - 20px);
	
	width:98%;
	background-color:White;
	
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	
}

.icon{
	width:98%;
	
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.icon button img{
	margin-top:5px;
	width:60px;
}

.icon button{
	background-color: White;
	border: none;
}

form{
	
	display:flex;
	justify-content:center;
	align-items:flex-end;
	margin: 3%;
	
	height:50px;
	width:75%;
}

#saisie{
	border: 2px solid LightGrey;
	border-radius: 5px 0px 0px 5px;
	font-size:0.5em;
	width:100%;
	height:100%;
}

#submit{
	font-size:0.5em;
	border: 2px solid LightGrey;
	border-radius: 0px 5px 5px 0px;
	height:55px;
	background-color: WhiteSmoke;
}

#divpicto{
	display:flex;
	justify-content:space-between;
	align-items:center;
	#margin: auto;
}

#tablecate0{
	#border: 1px solid LightGrey;
	#border-spacing: 35px  ;
	width:75%;
	table-layout:fixed;
}

#tablecate1{
	#border: 1px solid LightGrey;
	#border-spacing: 35px ;
	width:75%;
	table-layout:fixed;
	display:none;
}
#tablecate2{
	#border: 1px solid LightGrey;
	#border-spacing: 35px ;
	width:75%;
	table-layout:fixed;
	display:none;
}

#tablepicto0{
	width:75%;
	table-layout:fixed;
	display:none;
}

#tablepicto1{
	width:75%;
	table-layout:fixed;
	display:none;
}

#tablepicto2{
	width:75%;
	table-layout:fixed;
	display:none;
}

#gauchepic button, #gauchepic img{
	display:none;
}
#droitepic button, #droitepic img{
	display:none;
}

.fleche{
	width:10%;
}

#gauche img{
	
	display:none;
}

.fleche button img{
	margin-top:5px;
	width:60px;
}

.fleche button{
	background-color: White;
	border: none;
}

#page th{
	background-color: WhiteSmoke;
	text-transform: uppercase;
	border: 20px solid White;
	width:120px;
	height:100px;
	text-align:center;
	padding:0;
	
}


#page th button{
	border: none;
	word-wrap: break-word;
	width:100%;
	height:100%;
	text-align:center;
	text-transform: uppercase;
	background-color: inherit;
	font-size:0.5em;
}




 td{
	border: 2px solid Grey;
	border-collapse: collapse;
	width:70px;
	height:70px;
	text-align:center;
	padding:0;
	
}

#page td button{
	border: none;
	word-wrap: break-word;
	width:100%;
	height:100%;
	text-align:center;
	background-color: White;
	padding:2px;
	
}



.picto{
	width:80px;
	height:80px;
}

.mot{
	margin:0;
	#font-size:2em;
	font-size:0.5em;
}

