
body {
       background-color: WhiteSmoke;
       font-size:12px;
       height:100%;
	padding-left:1%;
	
       margin:0px;
       width:100%;
}

/* Portrait layout (default) */
.app {
       position:absolute;             /* position in the center of the screen */
       left:50%;
       top:50%;
       height:50px;                   /* text area height */
       width:225px;                   /* text area width */
       text-align:center;
       padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
       margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
}

#page th{
	background-color: WhiteSmoke;
	text-transform: uppercase;
}

#page th button.categorie{
	background-color: Gainsboro ;
	#text-transform: uppercase;

}

#page th button{
	border: none;
	word-wrap: break-word;
	width:100%;
	height:100%;
	text-align:center;
	text-transform: uppercase;
	background-color: inherit;
}


#page th, td{
	border: 1px solid Grey;
	border-collapse: collapse;
	width:70px;
	height:70px;
	text-align:center;
	padding:0;
	
}

#page td button{
	border: none;
	word-wrap: break-word;
	width:100%;
	height:100%;
	text-align:center;
	background-color: White;
	
	
}


.tablepicto{
	border: 1px solid LightGrey;
	border-collapse: collapse;
	width:100%;
	table-layout:fixed;
}

#page{
	border: 1px solid LightGrey;
	border-radius: 5px 5px 5px 5px;
	position:fixed;
	top:10px;
	min-height: calc(100vh - 20px);
	
	width:98%;
	background-color:White;
	
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
	
}


form{
	
	display:flex;
	justify-content:center;
	align-items:flex-end;
	margin: auto;
	
	height:25px;
	width:75%;
	
}

#saisie{
	border: 1px solid LightGrey;
	border-radius: 5px 0px 0px 5px;
	width:100%;
	height:100%;
	
}
#submit{
	border: 1px solid LightGrey;
	border-radius: 0px 5px 5px 0px;
	height:29px;
	background-color: WhiteSmoke;
	
}



/*css page index.html*/

#main{
	border: 1px solid LightGrey;
	border-radius: 5px 5px 5px 5px;
	position:fixed;
	top:10px;
	min-height: calc(100vh - 20px);
	
	width:98%;
	background-color:White;
	
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	
}

#icon{
	width:98%;
	display:flex;
	
	justify-content:space-between;
	align-items:center;
}

#icon button img{
	margin-top:5px;
	width:40px;
}

#icon button{
	background-color: White;
	border: none;
}

#tablemain{
	table-layout: fixed;
	border: none;
	width:80%;
	
}

#tablemain td{
	border: 20px solid White;
	width:50%;
	height:120px;
	text-align:center;
	padding:0;
	
}

#tablemain td button{
	border: none;
	word-wrap: break-word;
	width:100%;
	height:120px;
	text-align:center;
	background-color: Lavender;
	font-size: 3em;
}